{
  "openapi": "3.0.0",
  "info": {
    "title": "Exchange Rate API",
    "description": "An API providing real-time exchange rates from various banks in Ethiopia.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://fxethio.com/api/v1",
      "description": "Production server"
    }
  ],
  "paths": {
    "/exchange-rates": {
      "get": {
        "summary": "Get all exchange rates",
        "description": "Fetches the latest exchange rates from all available banks.",
        "responses": {
          "200": {
            "description": "A list of exchange rates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ExchangeRate"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/exchange-rates/{currency}": {
      "get": {
        "summary": "Get exchange rates for a specific currency",
        "description": "Fetches the exchange rate data for a specific currency across all banks.",
        "parameters": [
          {
            "name": "currency",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "USD"
            },
            "description": "The currency code (e.g., USD, EUR, GBP)."
          }
        ],
        "responses": {
          "200": {
            "description": "Exchange rate data for the specified currency",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ExchangeRateWithLogo"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Currency not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "error"
                    },
                    "message": {
                      "type": "string",
                      "example": "Currency not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ExchangeRate": {
        "type": "object",
        "properties": {
          "bank_id": {
            "type": "integer",
            "example": 1
          },
          "id": {
            "type": "integer",
            "example": 35790
          },
          "bank_name": {
            "type": "string",
            "example": "Wegagen Bank"
          },
          "currency": {
            "type": "string",
            "example": "CHF"
          },
          "buying": {
            "type": "number",
            "format": "float",
            "example": 137.1675
          },
          "selling": {
            "type": "number",
            "format": "float",
            "example": 139.9109
          },
          "applicabletimestamp": {
            "type": "string",
            "format": "date-time",
            "example": "2025-02-10T00:00:00+00:00"
          },
          "fetchedtimestamp": {
            "type": "string",
            "format": "date-time",
            "example": "2025-02-10T14:54:08.738+00:00"
          }
        }
      },
      "ExchangeRateWithLogo": {
        "allOf": [
          { "$ref": "#/components/schemas/ExchangeRate" },
          {
            "type": "object",
            "properties": {
              "logo_url": {
                "type": "string",
                "example": "logos/e82f1de6-cb44-460f-8959-e2dbcc4e580f.png"
              }
            }
          }
        ]
      }
    }
  }
}
